.Form {
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    text-align: center;
}

.Submit {
    margin-top: 1vh;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}