.content {
  color: rgb(247, 247, 247);
}

.nameHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: auto;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 5vh;
}
@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-2s;
	-webkit-animation-delay:-2s;
}

.arrows path.a2 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}
.arrows path {
	stroke: #75f37f;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 3s infinite;
	-webkit-animation: arrow 3s infinite; 
}

.spacer {
  aspect-ratio: 1440/100;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacerOne {
  background-image: url('../public/imgs/trans1.svg')
}

.spacerTwo {
  background-image: url('../public/imgs/trans2.svg')
}

.spacerThree {
  background-image: url('../public/imgs/trans3.svg')
}

.textBlock {
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
}

.textOne {
  background-color: #68bfff;
  color: #030303;
}

.textTwo {
  background-color: #470500;
  color: rgb(247, 247, 247);
}

.textThree {
  background-color: #2C055C;
  color: rgb(247, 247, 247);
}

.contentBlockOne {
  background: linear-gradient(45deg, rgb(77, 47, 69) 0%, rgb(54, 47, 77) 50%, rgb(47, 77, 75) 100%);
}

.headTwo {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.tableList {
  width: 100%;
  margin-top: 2vh;
}

.tableCaption {
  text-align: left;
  font-size: 2em;
  padding-bottom: 2vh;
}

.tableRow {
  width:100%;
  height: 5vh;
  text-align: justify;
}

.tableItem {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
}

@media screen and (max-width: 1000px) {
  .textBlock {
    font-size: 3vw;
  }

  .headTwo {
    font-size: 2em;
  }

  .nameHeader {
    height: 94vh;
    padding-left: 5vw;
    font-size: 4vw;
  }

  .content {
    margin-bottom: 6vh;
    min-height: 94vh;
  }
  .arrows {
    bottom: 10vh;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .textBlock {
    font-size: 2vw;
  }

  .headTwo {
    font-size: 4.5vw;
  }
  
  .nameHeader {
    height: 95vh;
    padding-left: 5vw;
    font-size: 2.2vw;
  }
  
  .content {
    padding-bottom: 0;
    padding-top: 6vh;
    min-height: 94vh;
  }
  .skillList {
  width:70%;
}
}

@media screen and (min-width: 1500px) {
  .textBlock {
    font-size: 2vw;
  }

  .headTwo {
    font-size: 2em;
  }

  .nameHeader {
    height: 96vh;
    padding-left: 6vw;
    font-size: 2.2vw;
  }
  
  .content {
    padding-top: 9vh;
    padding-bottom: 0;
    min-height: 91vh;
  }
  .skillList {
  width:70%;
}
}
