.LangSwitch {
  text-align: center;
  position: fixed;
  overflow: hidden;

  background-color: black;
  z-index: 99999;
  border-radius: 10px;
  transition-duration: 500ms;
}

.LangSwitch > span {
  display: none;
  line-height: 85px;
  font-size: 25px;
}

.LangSwitch > h6 {
  display: inline;
}

@media screen and (max-width: 768px) {
  .content {
    min-height: 86vh;
  }
  .LangSwitch {
    top: calc(90% - 50px);
    left: calc(100% - 55px);
    width: 50px;
  }

  .LangSwitch > h6 {
    line-height: 50px;
    font-size: 35px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .content {
    padding-top: 6vh;
    min-height: 88vh;
  }

  .LangSwitch {
    background-color: white;
    top: 30%;
    left: calc(100% - 90px);
    width: 85px;
    height: 85px;
  }

  .LangSwitch > h6 {
    filter: invert();
    line-height: 85px;
    font-size: 45px;
  }

  .LangSwitch:hover {
    left: calc(100% - 505px);
    width: 500px;
    filter: invert();
  }

  .LangSwitch:hover > span {
    display: inline;
  }
  .LangSwitch:hover > h6 {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  .content {
    padding-top: 8vh;
    min-height: 86vh;
  }

  .LangSwitch {
    background-color: white;
    /*mix-blend-mode: difference;*/
    backdrop-filter: opacity(1);
    filter: grayscale(100%);
    top: 30%;
    left: calc(100% - 90px);
    width: 85px;
    height: 85px;
  }

  .LangSwitch > h6 {
    filter: invert();
    line-height: 85px;
    font-size: 45px;
  }

  .LangSwitch:hover {
    left: calc(100% - 505px);
    width: 500px;
  }

  .LangSwitch:hover > span {
    display: inline;
    filter: invert();
  }
  .LangSwitch:hover > h6 {
    display: none;
  }
}
