.navigation {
  z-index: 9999;
  position: absolute;
  margin: 0;
  width: 100%;
  background: rgb(181, 156, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 156, 230) 0%,
    rgb(181, 156, 255) 50%,
    rgb(156, 255, 249) 100%
  );
  text-align: center;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;
  align-items: right;
  overflow: hidden;
}

.navbar > :nth-child(1) {
  margin-right: auto;
}

.navLink {
  color: #030303;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 1vw 0 1vw;
    width: 98vw;
  }
  .navbar > :nth-child(1) {
    display: none;
  }

  .navigation {
    height: 6vh;
    position: fixed;
    bottom: 0;
  }

  .navLink {
    margin: auto;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .navbar {
    padding: 0 2.5vw 0 2.5vw;
    width: calc(100% - 5vw);
  }

  .navigation {
    height: 6vh;
  }

  .navLink {
    margin-right: 0.4vw;
    margin-left: 0.4vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.8rem;
    overflow: hidden;
  }
}

@media screen and (min-width: 1500px) {
  .navbar {
    height: 4vh;
  }

  .navigation {
    height: 6vh;
    padding-top: 2vh;
    width: 100%;
  }

  .navLink {
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 2.5rem;
    height: 100%;
  }
}
