.mainContent {
  width: 100%;
  background-color: #220022;
}

.projectsTable {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  display: table;
}

.row {
  display: table-row;
}

.projectsTitle {
  text-align: center;
  background-color: inherit;
  font-size: 3em;
  padding-bottom: 2vh;
}

.projectsCaption {
  text-align: center;
  font-size: 2em;
}

.projectsHeading {
  font-size: 2.5em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  width: 33.333%;
}

.project {
  width: 30%;
  text-align: center;
  display: table-cell;
}

.projectTitle {
  font-size: 2em;
  padding-top: 1vh;
}

.projectDescription {
  padding-top: 0.5vh;
  padding-bottom: 0.75vh;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}

.embededMPT {
  width: 70%;
  aspect-ratio: 1;
}

@media screen and (max-width: 768px) {
  .mainContent {
    min-height: 88vh;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-right: 2vw;
  }

  .projectsTable {
    display: inline-block;
  }
  .project {
    display: inline-block;
    width: 100%;
    padding-top: 5vh;
  }
  .projectDescription {
    text-align: justify;
  }

  .projectsHeading {
    text-align: justify;
  }
  .projectsCaption {
    text-align: justify;
  }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .mainContent {
    min-height: 88vh;
  }
}

@media screen and (min-width: 1500px) {
  .mainContent {
    min-height: 85vh;
  }
}
