.mainContent {
  background-color: #220022;
}

.projectsTable {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  display: table;
}

.projectList {
  margin: 2vh 8vw;
}

.row {
  display: table-row;
}

.projectsTitle {
  text-align: center;
  background-color: inherit;
  font-size: 3em;
  padding-bottom: 2vh;
}

.projectsCaption {
  text-align: center;
  font-size: 2em;
}

.projectsHeading {
  font-size: 2.5em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

.project {
  width: 30%;
  text-align: center;
  display: table-cell;
}

.projectTitle {
  font-size: 2em;
  padding-top: 1vh;
}

.projectDescription {
  padding-top: 0.5vh;
  padding-bottom: 0.75vh;
  text-align: center;
  font-size: 1.5em;
}

.embededMPT {
  width: 80%;
  aspect-ratio: 1;
}

.projImgWrapper {
  margin: auto;
  position: relative;
  width: 80%;
  aspect-ratio: 1;
}

.projectImgWrapper {
  position: relative;
  width: 30vw;
  aspect-ratio: 1;
}

.projectDetails {
  display: flex;
}

@media screen and (max-width: 768px) {
  .mainContent {
    min-height: 88vh;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-right: 2vw;
  }

  .projectImgWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .projectDetails {
    flex-direction: column;
  }

  .projectsTable {
    display: inline-block;
  }
  .project {
    display: inline-block;
    width: 100%;
    padding-top: 5vh;
  }
  .projectDescription {
    text-align: justify;
  }

  .projectsHeading {
    text-align: justify;
  }
  .projectsCaption {
    text-align: justify;
  }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .mainContent {
    min-height: 88vh;
  }

  .projectDetails {
    flex-direction: row;
  }
}

@media screen and (min-width: 1500px) {
  .mainContent {
    min-height: 86vh;
  }

  .projectDetails {
    flex-direction: row;
  }
}
