.content {
    width: 80%;
    margin: 0 auto;
    padding: 2vh 2vw;
}

.resCaptchaWrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #777;
    padding: 2vh 2vw;
    border-radius: 20px;

}

.resCaptchaImgs {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.resCaptchaForm {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.imgDiv {
    position: relative;
    width: 100%;
    height: 100%;
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}



.singImg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    transition: transform 0.5s;
}

.singImg:hover {
    transform:scale(2);
    z-index: 3;
}